<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1 class="text-center"> Books </h1>
{% if g.user.is_authenticated() %}
<p class="text-center"><a href='{{ url_for('add_book') }}' class="btn btn-primary"><b>Add a new book</b></a></p>

{% endif %}

{% for book in books.items %}
{% include 'book.html' %}
{% endfor %}
<ul class="pager">
    {% if books.has_prev %}
    <li class="previous"><a href="{{ url_for('books', page = books.prev_num) }}">Newer</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">Newer</a></li>
    {% endif %}
    {% if books.has_next %}
    <li class="next"><a href="{{ url_for('books', page = books.next_num) }}">Older</a></li>
    {% else %}
    <li class="next disabled"><a href="#">Older</a></li>
    {% endif %}
</ul>
{% endblock %}