<table class="table">
    <tr class="success">
        <td width="30%"><b>Title:</b></td>
        <td width="50%">{{book.name}}</td>
        
        <td>
        {% if g.user.is_authenticated() %}
            <a class="btn btn-default" href='{{ url_for('edit_book', id = book.id) }}'> Edit </a>
            <a class="btn btn-default" href='{{ url_for('delete_book', id = book.id) }}'> Delete </a>
            {% endif %}
        </td>
        
    </tr>
    <tr>
        <td width="30%"><b>Authors:</b></td>
        <td>
            {% for author in book.authors %}
            <p>{{author.name}}</p>
            {% endfor %}
        </td>
        <td></td>
</table>