{% extends "base.html" %}

{% block content %}

<div class="well">
<h3>Sign Up</h3>
<form class="form" action="" method="post" name="login">
    {{form.hidden_tag()}}
    <table>
    <tr><td>Username </td> <td>{{form.username(size=20, class = "span4")}}</td></tr>
    <tr><td>Password </td> <td>{{form.password(size=20, class = "span4")}}</td></tr>
    <tr><td>Confirm </td>  <td>{{form.confirm(size=20, class = "span4")}}</td></tr>
    </table>

        {% for error in form.errors.username %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>    

    <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Sign Up">
            </div>
        </div>
</form>
{% endblock %}